@mixin before_circle {
    &::before {
        content: '';
        position: absolute;
        background: $main-color;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        top: -7px;
        left: 0;
        z-index: -1;

    }
}

@mixin before_circle_about {
    &::before {
        content: '';
        position: absolute;
        background: $main-color;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        top: 0px;
        left: 0;
        z-index: -1;

    }
}

@mixin before_circle_center {
    &::before {
        content: '';
        position: absolute;
        background: $main-color;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        top: -6px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}