.percent__grid {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 38px 45px;

    &-item {
        &-header {
            display: flex;
            justify-content: space-between;

            &__title {
                position: relative;
                padding-left: 14px;
                @include before_circle
            }
        }

        &-body {
            margin-top: 27px;
            height: 14px;
            background-color: $main-color;
            border-radius: 4px;

        }
    }
}